{% extends 'testingSystem/common.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'testingSystem/css/auth.css' %}">
{% endblock %}

{% block main %}
    <div class="centered-row auth-row">
        <div>
            <form method="post" class="centered-column auth-form">
                {% csrf_token %}
                <h1 class="auth-title">Авторизация</h1>
                <div class="auth-field auth-text-field">
                    <label for="login-auth">Логин</label>
                    <input id="login-auth" type="text" name="login">
                </div>
                <div class="auth-field auth-text-field" id="password-field">
                    <a class="beautiful-link forgot-link"
                       href="{% url 'forgot' %}">Забыли пароль?</a>
                    <label for="password-auth">Пароль</label>
                    <input id="password-auth" type="password" name="password">
                </div>
                <div class="auth-field auth-check-field">
                    <label for="stay-auth">Оставаться в системе</label>
                    <input id="stay-auth" type="checkbox"
                           name="stay_authorized">
                </div>
                {% if error %}
                    <div class="error">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="auth-field submit">
                    <input type="submit" value="Войти">
                </div>
            </form>
            <div class="register-link">
                <a class="beautiful-link" href="{% url 'register' %}">
                    Зарегистрироваться
                </a>
            </div>
        </div>
        <img src="{% static 'testingSystem/img/authorize_code.svg' %}"
             alt="Кодер кодит">
    </div>
{% endblock %}
