{% extends 'testingSystem/common.html' %}
{% load static %}

{% block main %}
    <div>
        <a href="{% url 'index' %}">< Назад</a>
    </div>
    <img src="{% static 'testingSystem/img/pensil.svg' %}" alt="Ручка">
    <a class="text-left menu" href="{% url 'classwork' %}">
        Классная работа
    </a>
    <div>
        <p>Активные задания</p>
        <select id="activ_task" size="3">
            <option value=”num_1”>Задача 1</option>
            <option value=”num_2”>Задача 2</option>
            <option value=”num_3”>Задача 3</option>

        </select>
        <p>На оценке</p>
        <select id="on_check">
            <option value=”num_1”>5 задач</option>
            <option value=”num_2”>Задача 2</option>
            <option value=”num_3”>Задача 3</option>

        </select>
        <p>Оценено</p>
        <select id="done">
            <option value=”num_1”>0 задач</option>
            <option value=”num_2”>Задача 2</option>
            <option value=”num_3”>Задача 3</option>

        </select>
    </div>

    <div>
        <img src="{% static 'testingSystem/img/rukzak.svg' %}" alt="Рюкзак">
        <a class="text-left menu" href="{% url 'homework' %}">
            Домашняя работа
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/coder.svg' %}" alt="Степень">
        <a class="text-left menu" href="{% url 'examwork' %}">
            Контрольная работа
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/people.svg' %}" alt="Человек">
        <a class="text-left menu" href="#">
            Сергей Сергеевич Сергеев
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/bachelor.svg' %}" alt="Выход">
        <a class="text-left menu" href="#">
            Выйти
        </a>
    </div>
{% endblock %}
