{% extends 'testingSystem/common.html' %}
{% load static %}

{% block main %}
    <img src="{% static 'testingSystem/img/choose_task.svg' %}"
         alt="Выберите раздел">
    <div>
        <img src="{% static 'testingSystem/img/pensil.svg' %}" alt="Ручка">
        <a class="text-left menu" href="{% url 'classwork' %}">
            Классная работа
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/rukzak.svg' %}" alt="Рюкзак">
        <a class="text-left menu" href="{% url 'homework' %}">
            Домашняя работа
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/coder.svg' %}" alt="Степень">
        <a class="text-left menu" href="{% url 'examwork' %}">
            Контрольная работа
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/people.svg' %}" alt="Человек">
        <a class="text-left menu" href="#">
            Сергей Сергеевич Сергеев
        </a>
    </div>
    <div>
        <img src="{% static 'testingSystem/img/bachelor.svg' %}" alt="Выход">
        <a class="text-left menu" href="#">
            Выйти
        </a>
    </div>
{% endblock %}
