{% extends 'testingSystem/common.html' %}
{% load static %}

{% block main %}
    <h3>{{ task.name }}</h3>
    <div>
        <div>
            <h4>Легенда</h4>
            <p>{{ task.legend }}</p>
            <h4>Условие</h4>
            <p>{{ task.statement }}</p>
        </div>
        <div>
            <h4>Попытки</h4>
            <table>
                <tr>
                    <th>Дата</th>
                    <th>Оценка</th>
                    <th>Действие</th>
                </tr>
                {% for attempt in attempts %}
                    <tr>
                        <td>{{ attempt.creation_time|date:"G:i:s j.m.Y" }}</td>
                        <td>{{ attempt.score|floatformat:1 }}%</td>
                        <td>
                            <a href="{% url 'attempt' attempt.id %}">
                                Посмотреть
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Тут будут</td>
                        <td>ваши</td>
                        <td>попытки</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div>
            <h4>Язык</h4>
            <label>
                <select name="language">
                    {% for lang in languages %}
                        <option {% if lang == language %}selected{% endif %}
                                value="{{ lang }}">{{ lang }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <h4>Осталось времени</h4>
            {#            TODO времени осталось #}
        </div>
        <div>
            <h4>Ваш код</h4>
            <label>
                <textarea wrap="soft" cols="50" rows="20"
                          name="solution">{{ solution }}</textarea>
            </label>
        </div>
        <div>
            <h4>...Или загрузите файлом (пока недоступно)</h4>
            <input type="file" name="solution_file">
        </div>
        {% if error %}
            <div>
                {{ error }}
            </div>
        {% endif %}
        <div>
            <input type="submit" value="Отправить на проверку">
        </div>
    </form>
{% endblock %}
